*,
body,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
header {
    width: 100% !important;
}

.centering {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.truncate {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    display: block;
}
