.app-icon-bell-cover,
.app-icon-envelop-cover {
    width: 100%;
    height: 100%;
}

.app-icon-bell,
.app-icon-envelop {
    color: white !important;
    width: 24px;
    height: 24px;
}

.header_links_envelop_a_svg {
    color: white;
}

.header_links_envelop_a_svg:hover {
    color: #cfcfcf;
}

header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #222831;
    padding: 1px;
}

.header_container {
    width: 100%;
    height: 100%;
    background-color: #222831;
    display: grid;
    grid-template-columns: 300px 3fr 2fr 1fr;
    grid-template-rows: 1fr;
}

/* Brand */
.header_brand {
    width: 100%;
    height: 100%;
}

.header_brand_text {
    color: white;
    text-decoration: none !important;
    font-weight: 800;
}

.header_brand_text:hover {
    color: white;
}

/* Search */
.header_search {
    width: 100%;
    height: 100%;
    background-color: #222831;
    display: flex;
    align-items: center;
}

.header_search_input {
    box-sizing: border-box;
    width: 100% !important;
    background-color: #393e46;
    height: 45px;
    border-radius: 4px;
    border: 0;
    padding: 0 20px;
    font-weight: 800;
    color: white;
}

.header_links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row !important;
    margin-left: 10px;
}

.header_links_link {
    padding: 2px;
    width: 15%;
}

.header_links_envelop_a {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Profile */
.header_profile_dropdown {
    width: 100%;
    height: 100%;
    background-color: #222831;
}

.header_profile_dropdown_button {
    width: 100%;
    height: 100%;
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    padding: 0 !important;
    padding: 2px;
    background-color: #222831;
}

.header_profile_dropdown_button_avatar {
    width: 100%;
    height: 100%;
    background-color: #222831;
    box-sizing: border-box;
    padding: 2px;
}

.header_profile_dropdown_button_avatar_img {
    width: 100%;
    border-radius: 50%;
    background-color: transparent !important;
}

.header_profile_dropdown_button_name {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #222831;
    padding: 0 10px;
}

.dropdown-toggle {
    border-color: #222831 !important;
    outline: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

@media (max-width: 1000px) {
    .header_container {
        grid-template-columns: 250px 3fr 2fr 1fr;
    }

    .header_brand_text {
        font-size: 25px;
    }

    .header_links_link {
        padding: 2px;
        width: 20%;
    }
}

@media (max-width: 840px) {
    .header_container {
        grid-template-columns: 200px 1fr 1fr 1fr;
    }

    .header_brand_text {
        font-size: 22px;
    }

    .header_links_link {
        padding: 2px;
        width: 20%;
    }

    .header_profile_dropdown_button {
        grid-template-columns: 1fr 2fr !important;
        font-size: 0.7em;
        padding: 2px;
    }
}
